<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <albumTitle>Add an Album</albumTitle>
    </head>

    <body>

        <form method="POST" action="/albums">
            <label for="albumTitle">Album albumTitle:</label><input name="albumTitle" id="albumTitle"/><br><br>
            <label for="artist">Album artist:</label><input name="artist" id="artist" /><br><br>
            <label for="songCount">Album songCount:</label><input name="songCount" id="songCount"/><br><br>
            <label for="length">Album length:</label><input name="length" id="length" /><br><br>
            <label for="imageUrl">Album imageUrl:</label><input name="imageUrl" id="imageUrl" /><br><br>
            <input type="submit" />
        </form>

    </body>

</html>