<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <albumTitle>Albums</albumTitle>
    </head>

    <body>

        <h1>All Albums</h1>

        <ul>
            <li th:each="album : ${albums}">
                <span th:text="${album.imageUrl}"></span><br><br>
                <span th:text="${album.albumTitle}"></span><br>
                <span th:text="${album.artist}"></span><br>
                <span th:text="${album.songCount}"></span><br>
                <span th:text="${album.length}"></span><br>
            </li>
        </ul>

    </body>

</html>